<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.itaportal.repository.CategoryRepository">
    <select id="selectCategory" resultType="com.izo.itaportal.model.Category">
        select * from category
    </select>

    <select id="selectCategoryById" resultType="com.izo.itaportal.model.Category">
        select id_cate,cate_name from category where id_cate=#{idCate}
    </select>


    <insert id="insert">
        insert into category (id_cate,
                             cate_name)


        values (#{idCate},#{cateName})

    </insert>
    <update id="update">
        update category
        set cate_name = #{cateName}
        where id_cate = #{idCate}
    </update>

    <delete id="delete" parameterType="int">
        delete from category
        where id_cate = #{idCate}
    </delete>
</mapper>
