<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.itaportal.repository.ClassRoomRepository">
    <select id="selectClassRoom" resultType="com.izo.itaportal.model.ClassRoom">
        select * from class_room
    </select>

    <select id="selectClassRoomById" resultType="com.izo.itaportal.model.ClassRoom">
        select * from class_room where id_room=#{idRoom}
    </select>

    <select id="countAllClassRooms" resultType="int">
        SELECT COUNT(*)
        FROM class_room
    </select>

    <select id="getClassRoomsPerPage" parameterType="map" resultType="com.izo.itaportal.model.ClassRoom">
        SELECT *
        FROM class_room
        ORDER BY id_room
            LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="insert">
        insert into class_room (id_room,
                             room_name)


        values (#{idRoom},#{roomName})

    </insert>
    <update id="update">
        update class_room
        set room_name = #{roomName}
        where id_room = #{idRoom}
    </update>

    <delete id="delete">
        delete from class_room
        where id_room = #{idRoom}
    </delete>
</mapper>
