<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.itaportal.mapper.CourseApplyMapper">

    <insert id="insertCourseApply" parameterType="com.izo.itaportal.model.CourseApply">
        INSERT INTO CourseApplies (course_name, course_apply_date, course_apply_status, id_student, id_cate)
        VALUES (#{courseName}, #{courseApplyDate}, #{courseApplyStatus}, #{idStudent}, #{idCate})
    </insert>

    <select id="findAllCourseApplies" resultType="com.izo.itaportal.model.CourseApply">
        SELECT * FROM CourseApplies
    </select>

    <select id="findCoursesByIdStudent" resultType="com.izo.itaportal.model.CourseApply">
        SELECT * FROM CourseApplies WHERE id_student = #{IdStudent}
    </select>
</mapper>