<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.izo.itaportal.repository.ExamRepository">

    <select id="getExamListByProfessor" parameterType="int" resultType="com.izo.itaportal.dto.ExamListDto">
        SELECT
            p.pgm_Name AS ProgramName,
            p.id_prof AS idProf,
            p.id_pgm AS idPgm,
            p.num_of_stu AS numOfStu,
            e.id_exam AS idExam,
            e.name AS name,
            e.description AS description,
            e.start_Date AS startDate,
            e.end_Date AS endDate,
            e.status AS status,
            e.count AS count

        FROM
            exam e
            JOIN program p ON e.id_Program = p.id_Pgm
            JOIN professor pr ON e.id_Prof = pr.id_Prof
        WHERE
            e.id_Prof = #{idProf}
    </select>

    <select id="getExamDetail" parameterType="map" resultType="com.izo.itaportal.dto.ExamDetailDto">
        SELECT
            p.pgm_Name AS ProgramName,
            p.id_prof AS idProf,
            p.id_pgm AS idPgm,
            p.num_of_stu AS numOfStu,
            pr.name AS profName,
            e.id_exam as idExam,
            e.name AS name,
            e.description AS description,
            e.start_Date AS startDate,
            e.end_Date AS endDate,
            e.status AS status,
            e.count AS count
        FROM
            exam e
            JOIN program p ON e.id_Program = p.id_Pgm
            JOIN professor pr ON e.id_Prof = pr.id_Prof
        WHERE
            e.id_Exam = #{idExam}
    </select>

    <select id="GetProgNameById" parameterType="int" resultType="com.izo.itaportal.dto.GetProgNameDto">
        SELECT
            id_Pgm,
            pgm_name AS pgmName
        FROM
            program
        WHERE
            id_Prof = #{idProf}
    </select>
    <insert id="insertExam" parameterType="com.izo.itaportal.model.Exam">
        INSERT INTO exam (name, start_Date, end_Date, description, status, count, id_Program, id_Prof)
        VALUES (#{name}, #{startDate}, #{endDate}, #{description}, '진행중',0, #{idProgram}, #{idProf})
    </insert>

    <select id="getExamsByStudentId" parameterType="int" resultType="com.izo.itaportal.dto.ExamListDto">
        SELECT
            e.id_Exam AS idExam,
            e.name,
            e.start_Date AS startDate,
            e.end_Date AS endDate,
            e.status,
            e.count,
            e.description,
            e.id_Program AS idPgm,
            e.id_Prof AS idProf,
            p.pgm_Name AS programName,
            p.num_of_stu AS numOfStu,
            pr.name AS profName
        FROM
            exam e
                JOIN
            attendance a ON e.id_Program = a.id_pgm
                JOIN
            program p ON e.id_Program = p.id_Pgm
                JOIN
            professor pr ON e.id_Prof = pr.id_Prof
        WHERE
            a.id_Student = #{idStudent}
    </select>

    <update id="incrementCount">
        UPDATE exam
        SET count = count + 1
        WHERE id_exam = #{idExam}
    </update>

</mapper>
