<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.izo.itaportal.repository.ExamSubmissionRepository">
    <resultMap id="ExamSubmissionResultMap" type="com.izo.itaportal.model.ExamSubmission">
        <id column="id_submission" property="idSubmission"/>
        <result column="id_program" property="idProgram"/>
        <result column="id_exam" property="idExam"/>
        <result column="id_student" property="idStudent"/>
        <result column="id_file" property="idFile"/>
        <result column="exam_status" property="examStatus"/>
    </resultMap>

    <insert id="saveExamSubmission">
        INSERT INTO exam_submission (id_program, id_exam, id_student, id_file, submit_time, exam_status)
        VALUES (#{idProgram}, #{idExam}, #{idStudent}, #{idFile}, now(),'제출완료')
    </insert>

    <select id="getExamSubmission" resultMap="ExamSubmissionResultMap">
        SELECT * FROM exam_submission WHERE id_submission = #{idSubmission}
    </select>
    <select id="getExamSubmitData" resultType="com.izo.itaportal.dto.ExamSubmitDataDto">
        SELECT
            s.id_student as idStudent,
            s.name as studentName,
            es.exam_status as status,
            es.submit_time as submitTime,
            f.data as data,
            f.file_name as fileName,
            es.id_file as idFile
        FROM
            attendance a
                JOIN
            student s ON a.id_student = s.id_student
                LEFT JOIN
            exam_submission es ON s.id_student = es.id_student AND es.id_exam = #{idExam}
                LEFT JOIN
            file f ON es.id_file = f.id_file
        WHERE
            a.id_pgm = #{idProgram};
    </select>

</mapper>
