<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.itaportal.repository.NoticeRepository">

    <!-- 공지사항 목록 조회 -->
    <select id="findAllNotice" resultType="com.izo.itaportal.model.Notice">
        SELECT id_notice, title, content, created_date, views FROM notice order by id_notice desc
    </select>

    <!-- 특정 공지사항 조회 -->
    <select id="findNoticeById" parameterType="int" resultType="com.izo.itaportal.model.Notice">
        SELECT id_notice, title, content, created_date, views FROM notice WHERE id_notice = #{idNotice}
    </select>

    <!-- 공지사항 신규 추가 -->
    <insert id="insertNotice" parameterType="com.izo.itaportal.model.Notice">
        INSERT INTO notice (title, content, created_date, views)
        VALUES (#{title}, #{content}, NOW(), #{views})
    </insert>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="com.izo.itaportal.model.Notice">
        UPDATE notice SET title = #{title}, content = #{content}, created_date = #{createdDate}, views = #{views} WHERE id_notice = #{idNotice}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="int">
        DELETE FROM notice WHERE id_notice = #{idNotice}
    </delete>

    <!-- 공지사항 검색 기능 -->
    <select id="searchNoticesByKeyword" resultType="com.izo.itaportal.model.Notice">
        SELECT id_notice, title, content, created_date, views FROM notice
        WHERE title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <!-- 공지사항 페이지 이동 기능 -->
    <select id="findNoticesByPage" resultType="com.izo.itaportal.model.Notice">
        SELECT id_notice, title, content, created_date, views FROM notice
        ORDER BY created_date DESC
            LIMIT #{offset}, #{limit}
    </select>

    <!-- 공지사항 페이지 이동 및 검색 기능 -->
    <select id="findNoticesByPageWithKeyword" resultType="com.izo.itaportal.model.Notice">
        SELECT id_notice, title, content, created_date, views FROM notice
        WHERE title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY created_date DESC
            LIMIT #{offset}, #{limit}
    </select>

    <select id="countAllNotices" resultType="int">
        SELECT COUNT(*) FROM notice
    </select>

    <!-- 공지사항 검색어에 따른 총 개수 -->
    <select id="countNoticesByKeyword" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM notice WHERE title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>
