<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    김봄이
    주차별 강의계획 CRUD
    -->

<mapper namespace="com.izo.itaportal.repository.ScheduleRepository">

    <insert id="saveAll" parameterType="com.izo.itaportal.model.Schedule">
        INSERT INTO schedule(id_pgm, day_sched, pgm_time) VALUES (#{idPgm}, #{daySched}, #{pgmTime})
    </insert>

    <!-- 주차별 강의계획 입력 또는 업데이트 -->
    <insert id="upsertSchedule" parameterType="com.izo.itaportal.model.Schedule">
        INSERT INTO schedule (id_sched, sched_no, id_pgm, day_sched, pgm_time, learning_contents, learning_detail, note)
        VALUES
            (
                #{idSched},
                #{schedNo},
                #{idPgm},
                #{daySched},
                #{pgmTime},
                #{learningContents},
                #{learningDetail},
                #{note}
            )
            ON DUPLICATE KEY UPDATE
                                sched_no = VALUES(sched_no),
                                id_pgm = VALUES(id_pgm),
                                day_sched = VALUES(day_sched),
                                pgm_time = VALUES(pgm_time),
                                learning_contents = VALUES(learning_contents),
                                learning_detail = VALUES(learning_detail),
                                note = VALUES(note);
    </insert>

    <!-- idPgm별 최대 idSched값 -->
    <select id="selectMaxSchedNoByIdPgm" resultType="Integer">
        SELECT count(sched_no)
        FROM schedule
        WHERE id_pgm = #{idPgm}
    </select>

    <!-- 주차별 강의계획서 조회 -->
    <select id="selectAllSchedule" parameterType="integer" resultType="com.izo.itaportal.model.Schedule">
        SELECT * FROM schedule WHERE id_pgm=#{idPgm}
    </select>

    <!-- 주차별 강의날짜, idsched 조회(by schedNo) -->
    <select id="selectScheduleBySchedNo" parameterType="integer" resultType="com.izo.itaportal.model.SchedReq">
        SELECT id_sched, day_sched FROM schedule WHERE id_pgm=#{idPgm} and sched_no=#{schedNo}
    </select>


    <!-- 요일별 날짜 계산 -->
    <select id="selectByDayOfWeek" parameterType="java.util.Map" resultType="com.izo.itaportal.model.Schedule">
        SELECT id_sched, id_pgm, day_sched, pgm_time, learning_contents, learning_detail, note
        FROM schedule
        WHERE day_sched BETWEEN #{stDt} AND #{endDt}
          AND DAYOFWEEK(day_sched) = #{dayOfWeek}
    </select>



</mapper>
