<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.izo.itaportal.repository.SugangRepository">
    <select id="findAll" resultType="com.izo.itaportal.dto.ProgramAllDto">
        SELECT
            p.id_Pgm,
            p.id_Cate,
            p.id_Room,
            p.id_Prof,
            p.pgm_Name,
            p.st_Dt,
            p.end_Dt,
            p.sugang_St_Dt,
            p.sugang_End_Dt,
            p.pgm_Target,
            p.pgm_Method,
            p.pgm_Per,
            p.pgm_Fee,
            c.cate_Name,
            r.room_Name,
            pr.name AS prof_Name
        FROM
            Program p
                JOIN
            Category c ON p.id_Cate = c.id_Cate
                JOIN
            class_room r ON p.id_Room = r.id_Room
                JOIN
            Professor pr ON p.id_Prof = pr.id_Prof;
    </select>
    <select id="findById" parameterType="int" resultType="com.izo.itaportal.dto.ProgramAllDto">
        SELECT
            p.id_Pgm,
            p.id_Cate,
            p.id_Room,
            p.id_Prof,
            p.pgm_Name,
            p.st_Dt,
            p.end_Dt,
            p.sugang_St_Dt,
            p.sugang_End_Dt,
            p.pgm_Target,
            p.pgm_Method,
            p.pgm_Per,
            p.pgm_Fee,
            c.cate_Name,
            r.room_Name,
            pr.name AS prof_Name
        FROM
            Program p
                JOIN
            Category c ON p.id_Cate = c.id_Cate
                JOIN
            class_room r ON p.id_Room = r.id_Room
                JOIN
            Professor pr ON p.id_Prof = pr.id_Prof
        WHERE
            p.id_Pgm = #{programId};
    </select>
    <insert id="saveSugang" parameterType="com.izo.itaportal.model.Sugang">
        INSERT INTO Sugang (id_student, id_Pgm, st_Dt, status)
        VALUES (#{commonId}, #{idPgm}, now(), '신청중')
    </insert>
</mapper>