<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.izo.itaportal.repository.SugangRepository">
    <select id="findAll" resultType="com.izo.itaportal.dto.ProgramAllDto">
        SELECT
            p.id_Pgm,
            p.id_Cate,
            p.id_Room,
            p.id_Prof,
            p.pgm_Name,
            p.st_Dt,
            p.end_Dt,
            p.sugang_St_Dt,
            p.sugang_End_Dt,
            p.pgm_Target,
            p.pgm_Method,
            p.pgm_Per,
            p.pgm_Fee,
            c.cate_Name,
            r.room_Name,
            pr.name AS prof_Name
        FROM
            Program p
                JOIN
            Category c ON p.id_Cate = c.id_Cate
                JOIN
            class_room r ON p.id_Room = r.id_Room
                JOIN
            Professor pr ON p.id_Prof = pr.id_Prof
        ORDER BY
            p.id_pgm DESC
    </select>
    <select id="findById" parameterType="int" resultType="com.izo.itaportal.dto.ProgramAllDto">
        SELECT
            p.id_Pgm,
            p.id_Cate,
            p.id_Room,
            p.id_Prof,
            p.pgm_Name,
            p.st_Dt,
            p.end_Dt,
            p.sugang_St_Dt,
            p.sugang_End_Dt,
            p.pgm_Target,
            p.pgm_Method,
            p.pgm_Per,
            p.pgm_Fee,
            c.cate_Name,
            r.room_Name,
            pr.name AS prof_Name
        FROM
            Program p
                JOIN
            Category c ON p.id_Cate = c.id_Cate
                JOIN
            class_room r ON p.id_Room = r.id_Room
                JOIN
            Professor pr ON p.id_Prof = pr.id_Prof
        WHERE
            p.id_Pgm = #{programId};
    </select>
    <select id="findByIdStudentAndCourseStatus" parameterType="int" resultType="com.izo.itaportal.dto.SugangDto">
        SELECT
            sugang.id_sugang AS idEnrollment,
            sugang.id_student AS idStudent,
            sugang.id_Pgm AS idPgm,
            sugang.id_Cate AS idCate,
            sugang.status AS status,
            sugang.course_Status AS courseStatus,
            program.Sugang_St_Dt AS SugangStDt,
            program.pgm_Name AS pgmName,
            program.st_Dt AS stDt,
            program.end_Dt AS endDt,
            program.pgm_Fee AS pgmFee,
            category.cate_Name AS cateName,
            student.name AS stuName,
            class_room.room_Name AS roomName,
            professor.name AS name
        FROM
            Sugang sugang
                JOIN
            Program program ON sugang.id_Pgm = program.id_Pgm
                JOIN
            Category category ON program.id_Cate = category.id_Cate
                JOIN
            Class_Room class_room ON program.id_Room = class_room.id_Room
                JOIN
            Student student ON sugang.id_student = student.id_student
                JOIN
            Professor professor ON program.id_Prof = professor.id_Prof
        WHERE
            sugang.id_student = #{idStudent}
          AND sugang.course_Status = true;
    </select>
    <select id="findAllSugang" parameterType="int" resultType="com.izo.itaportal.dto.SugangDto">
        SELECT
            sugang.id_sugang AS idEnrollment,
            sugang.id_student AS idStudent,
            sugang.id_Pgm AS idPgm,
            sugang.id_Cate AS idCate,
            sugang.status AS status,
            sugang.course_Status AS courseStatus,
            sugang.st_Dt AS sugangStDt,
            program.pgm_Name AS pgmName,
            program.st_Dt AS stDt,
            program.end_Dt AS endDt,
            program.pgm_Fee AS pgmFee,
            category.cate_Name AS cateName,
            student.name AS stuName,
            class_room.room_Name AS roomName,
            professor.name AS name
        FROM
            Sugang sugang
                JOIN
            Program program ON sugang.id_Pgm = program.id_Pgm
                JOIN
            Category category ON program.id_Cate = category.id_Cate
                JOIN
            Class_Room class_room ON program.id_Room = class_room.id_Room
                JOIN
            Student student ON sugang.id_student = student.id_student
                JOIN
            Professor professor ON program.id_Prof = professor.id_Prof
    </select>
    <insert id="saveSugang" parameterType="com.izo.itaportal.model.Sugang">
        INSERT INTO Sugang (id_student, id_Pgm, id_Cate, st_Dt, status, course_status)
        VALUES (#{commonId}, #{idPgm},#{idCate}, now(), '신청중', false)
    </insert>
    <update id="updateSugangStatus">
        UPDATE sugang
        SET status = '취소됨'
        WHERE id_pgm = #{idPgm} AND id_student = #{idStudent}
    </update>
    <update id="updateToSugangOk">
        UPDATE sugang
        SET
            status = '신청 완료',
            course_status = true
        WHERE
            id_pgm = #{idPgm}
          AND id_student = #{idStudent}
    </update>
    <update id="updateToSugangNo">
        UPDATE sugang
        SET
            status = '거부됨'
        WHERE
            id_pgm = #{idPgm}
          AND id_student = #{idStudent}
    </update>
</mapper>