<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    황선호
    유저 (학생, 교수, 관리자)
    -->

<mapper namespace="com.izo.itaportal.mapper.UserMapper">

    <!-- 유저 테이블 추가 (가입) -->
    <insert id="insertUser" parameterType="com.izo.itaportal.model.SignUpRequest"
            useGeneratedKeys="true" keyProperty="idUser">
        INSERT INTO user (login_id, password, role, regist_date)
        VALUES (#{loginId}, #{password}, #{role}, now())
    </insert>

    <!-- 학생테이블 추가 (가입) -->
    <insert id="insertStu" parameterType="com.izo.itaportal.model.SignUpRequest">
        INSERT INTO student (name, birth, tel, address, gender, id_user)
        VALUES (#{name}, #{birth}, #{tel}, #{address}, #{gender}, #{idUser})
    </insert>

    <!-- 교수테이블 추가 (가입) -->
    <insert id="insertProf" parameterType="com.izo.itaportal.model.SignUpRequest">
        INSERT INTO professor (name, birth, tel, gender, address, id_user)
        VALUES (#{name}, #{birth}, #{tel}, #{gender}, #{address}, #{idUser})
    </insert>


</mapper>
