<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    황선호
    유저 (학생, 교수, 관리자)
    -->

<mapper namespace="com.izo.itaportal.repository.UserRepository">

    <!-- 유저 테이블 추가 (가입) -->
    <insert id="insertUser" parameterType="com.izo.itaportal.model.SignUpRequest"
            useGeneratedKeys="true" keyProperty="idUser">
        INSERT INTO user (login_id, password, role, regist_date, email)
        VALUES (#{loginId}, #{password}, #{role}, now(), #{email})
    </insert>

    <!-- 학생테이블 추가 (가입) -->
    <insert id="insertStu" parameterType="com.izo.itaportal.model.SignUpRequest">
        INSERT INTO student (name, birth, tel, address, gender, id_user)
        VALUES (#{name}, #{birth}, #{tel}, #{address}, #{gender}, #{idUser})
    </insert>

    <!-- 교수테이블 추가 (가입) -->
    <insert id="insertProf" parameterType="com.izo.itaportal.model.SignUpRequest">
        INSERT INTO professor (name, birth, tel, gender, address, id_user)
        VALUES (#{name}, #{birth}, #{tel}, #{gender}, #{address}, #{idUser})
    </insert>
  
       <!-- 관리자 테이블 추가 (가입) -->
    <insert id="insertAdmin" parameterType="com.izo.itaportal.model.SignUpRequest">
        INSERT INTO Admin (name, birth, tel, address, gender, id_user)
        VALUES (#{name}, #{birth}, #{tel}, #{address}, #{gender}, #{idUser})
    </insert>

    <select id="getUserByLoginId" parameterType="String" resultType="com.izo.itaportal.model.LoginResponse">
        SELECT login_id, password, role, id_user FROM user WHERE login_id = #{loginId}
    </select>
    <!-- 교수 -->
    <select id="selectProf" parameterType="integer" resultType="com.izo.itaportal.model.Professor">
        SELECT id_prof, address, birth, gender, id_user, name, tel FROM professor WHERE id_user = #{idUser}
    </select>

    <!-- 학생 -->
    <select id="selectStu" parameterType="integer" resultType="com.izo.itaportal.model.Student">
        SELECT id_student, address, birth, gender, id_user, name, tel FROM student WHERE id_user = #{idUser}
    </select>

    <!-- 관리자 -->
    <select id="selectAdmin" parameterType="integer" resultType="com.izo.itaportal.model.Admin">
        SELECT id_admin, address, birth, gender, id_user, name, tel FROM admin WHERE id_user = #{idUser}
    </select>

    <!--이름값 가져오기-->
    <select id="getStuName" resultType="java.lang.String">
        SELECT name FROM student WHERE id_User = #{idUser}
    </select>
    <select id="getProfName" resultType="java.lang.String">
        SELECT name FROM professor WHERE id_User = #{idUser}
    </select>
    <select id="getAdminName" resultType="java.lang.String">
        SELECT name FROM admin WHERE id_User = #{idUser}
    </select>


</mapper>
