/* noticelist.css */

/* 버튼 스타일 */
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

/* 테이블 스타일 */
.category-table {
    border-collapse: collapse;
    width: 100%;
}

.category-table th, .category-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.category-table th {
    background-color: #f2f2f2;
}

/* 페이지 제목 스타일 */
.pgTit {
    font-size: 30px;
    margin-bottom: 30px;
    color: #142e4e;
}

.pgTit .prev {
    display: none;
}

/* 링크 스타일 */
.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}