
.subTit {
    position: relative;
    font-size: 22px;
    color: #000000;
    /*margin-top: 30px;*/
    margin-bottom: 5px;
    font-family: 'NotoKrM'
}
.subTit:before {
    display: block;
    width: 19px;
    height: 3px;
    content: '';
    margin-bottom: 5px;
    background: #005e93;
}
.tblData {
    width: 100%;
    border-top: 2px solid #123867;
    border-bottom: 1px solid #99a0aa;
    margin-bottom: 10px;
}
.tblData.borTble {
    background: #123867;
    padding: 5px;
    border: none;
    width: 98.8%;
}
.tblData table {
    background: #fff;
    table-layout: fixed;
}
.tblData table.subTbl td {
    border-top: 1px solid #cccccc
}
.tblData table.subTbl thead {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    overflow: hidden;
}
.tblData thead th {
    padding: 11px 3px 14px 3px;
    background: #dee7f1;
    border-bottom: 1px solid #99a0aa;
    border-left: 1px solid #cccccc;
    text-align: center;
    color: #142e4e;
    font-size: 14px;
    font-family: 'NotoKrM';
    color: #333;
}
.tblData thead tr:first-child th:first-child {
    border-left: 0;
}
.tblData tbody tr:last-child th {
    border-bottom: none;
}
.tblData tbody th {
    padding: 11px 7px 14px 7px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    text-align: center;
    color: #333;
    font-size: 16px;
    background: #edf2f7;
    font-family: 'NotoKrM';
}
.tblData tbody th.bg {
    background: #dee7f1;
    color: #142e4e
}
.tblData tbody td.bg {
    background: #edf2f7;
    color: #000000;
    font-family: 'NotoKrM';
}
.tblData tbody td {
    padding: 8px 5px 10px 5px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    text-align: center;
    color: #555555;
    font-size: 16px;
    line-height: 24px;
    word-break: break-all;
}
.tblData tbody td > .tbtns {
    margin-left: 5px;
}
.tblData tbody td > .tbtns:first-child {
    margin-left: 0;
}
.tblData tbody tr:last-child td {
    border-bottom: 0;
}
.tblData tbody th.tal {
    padding: 11px 10px 14px 20px !important;
}
.tblData tbody td:first-child {
    border-left: 0;
}
.tblData tbody td.tal, .tblData tbody td.tar {
    padding-left: 10px;
    padding-right: 10px;
}
.tblData td.tdtit {
    color: #007dc3;
    font-family: 'NotoKrM';
}
.tblData td .link {
    color: #007dc3;
    text-decoration: underline;
    font-family: 'NotoKrM';
}
.tblData td.tdtit.noGrade {
    color: #000;
}
.tblData td.tdtit.noGrade .link {
    color: #000;
}
.tblData td .tdline {
    display: block;
    position: relative;
    padding-left: 10px;
}
.tblData td .tdline:before {
    display: block;
    content: '';
    width: 5px;
    height: 1px;
    position: absolute;
    top: 11px;
    left: 0;
    background: #555;
}
.tblData td .cau05 {
    margin-top: 5px;
    margin-bottom: 0;
}
.tblData td .cau05:before {
    top: 5px;
}
.tblData tfoot td {
    padding: 11px 3px 14px 3px;
    border-right: 1px solid #cccccc;
    text-align: center;
}
.tblData th.borBn,
.tblData td.borBn {
    border-bottom: none
}
.tblData th.borRn,
.tblData td.borRn {
    border-right: none
}
.tblData th.borLy,
.tblData td.borLy {
    border-left: 1px solid #cccccc !important;
}
.tblData td.borRy {
    border-right: 1px solid #cccccc !important;
}
.tblData tfoot td.total {
    padding: 15px 10px;
    background: #005e93;
    color: #fff;
}
.tblData .trBg {
    background: #f2f8fc;
}
.tblData .trBg th {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #007dc3 !important;
    color: #007dc3;
    text-align: left;
}
.tblData .trBg td {
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #99a0aa !important;
    color: #007dc3;
    text-align: center;
}
.tblData .trBg th:last-child {
    border-right: 0 !important;
}
.tblData td.tdB, .tblData td.num01 {
    font-family: 'NotoKrM';
    color: #000;
}
.tblData .borBt th, .tblData .borBt td {
    border-bottom: 1px solid #007dc3 !important;
}
.tblData .sum td {
    background: #f2f8fc;
    font-family: 'NotoKrM';
    color: #000;
    border-top: 1px solid #99a0aa !important;
}
.tblData .sum td:last-child {
    border-right: 0;
}
.tblForm {
    width: 100%;
    border-top: 2px solid #123867;
    border-bottom: 1px solid #99a0aa;
    margin-bottom: 10px;
}
.tblForm.inputForm th {
    padding: 10px 15px 10px 15px;
    font-family: 'NotoKrM';
}
.tblForm.inputForm th > label {
    color: #333;
}
.tblForm.inputForm td {
    padding: 6px 15px 6px 15px;
}
.tblForm tbody th {
    padding: 11px 15px 14px 18px;
    background: #f6f6f6;
    color: #333333;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    font-size: 14px;
    font-family: 'NotoKrM';
}
.tblForm tbody th label {
    color: #333333;
    font-family: 'NotoKrM';
}
.tblForm tbody td {
    padding: 6px 15px 6px 18px;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    font-size: 14px;
}
.tblForm tfoot td .inpText {
    background: #fafafa
}
.tblForm tbody tr:last-child th {
    border-bottom: 0;
}
.tblForm tbody tr:last-child td {
    border-bottom: 0;
}
.tblForm tbody td:last-child {
    border-right: 0;
}
.tblForm tfoot td {
    padding: 15px 10px;
    background: #005e93;
    font-size: 14px;
}
.tblForm th.borBn,
.tblForm td.borBn {
    border-bottom: none
}
.tblForm td .key {
    display: inline-block;
    margin-left: 5px;
    color: #e6000c;
    font-family: 'NotoKrM';
}
.tblForm td .selectboxWrap {
    vertical-align: top;
}
.tblForm td .cau05 {
    margin-top: 5px;
    margin-bottom: 0;
}
.tblForm td .inTxt::placeholder {
    color: #505050;
}
.tblForm td .inTxt::-ms-input-placeholder {
    color: #505050;
}
.tblForm td .inTxt::-webkit-input-placeholder {
    color: #505050;
}
.tblForm td .inTxt::-moz-placeholder {
    color: #505050;
}
.tblForm td .majorTime {
    margin-left: -8px;
}
.tblForm .tblTab a {
    display: inline-block;
    margin-right: 18px;
    position: relative;
}
.tblForm .tblTab a:after {
    display: block;
    content: '';
    width: 1px;
    height: 13px;
    position: absolute;
    top: 4px;
    right: -11px;
    background: #ccc;
}
.tblForm .tblTab a:last-child:after {
    background: none;
}
.tbtns {
    display: inline-block;
    margin-right: 18px;
    position: relative;
    width: 80px;
    border: 1px solid black;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 30px;
}
.btns {
    display: inline-block;
    margin-right: 18px;
    position: relative;
    width: 80px;
    border: 1px solid black;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 30px;
}
.coment_form{display: flex; position:relative;padding-right:100px;}
.coment_form p{font-size:15px;color:#e65151; display: inline-block;  margin-bottom: -15px;}
.coment_form strong{font-weight:600}
.coment_form a{top:-12px;right:0;width:110px;height:30px;line-height:30px;font-size:15px;text-align:center;color:#fff;background: #177d94;border-radius: 30px;
    display: inline-block;
    margin-left: auto; margin-bottom: 5px;}

.essR {vertical-align:top;display:inline-block;position:relative;font-size:0;width:10px;height:10px;}
.essR:before {display:block; content: ' \002A';position:absolute;top:0;left:3px;color:#e6000c;font-size:20px}
.tblForm td .inTxt::placeholder {color:#505050;}
.tblForm td .inTxt::-ms-input-placeholder { color: #505050; }
.tblForm td .inTxt::-webkit-input-placeholder { color: #505050; }
.tblForm td .inTxt::-moz-placeholder { color: #505050; }
/* Button */
.btnArea {text-align:center;font-size:16px;position:relative;display:table;width:80%;margin-top:30px;margin-bottom:40px;}
.btnArea:after {display:block;clear:both;content:''}
.btnArea.left{text-align:left}
.btnArea.right {text-align:right}
.btnArea .btns{display: inline-block; margin-left:10px; color: white; width: 100px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;}
.btnArea .mBtns {margin-left:5px;}
.btnArea .sbtns {margin-left:5px;}
.btnArea.btnBt {margin-top:30px;padding-top:30px;border-top:1px solid #ccc;}

/* Search bar */
.boardSearch_g{margin-bottom:15px; text-align:center;padding-right: 10%}
.boardSearch_g.type .tit{font-size:17px;color:#000;font-weight:600;vertical-align: middle;}
.gallery_list .tit{font-size:18px;color:#222;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#proTitleSel, #lecIdxSel {
    width: 30%;
    border: none;
    font-size: 17px;
    color: #666;
    border-bottom: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
}
#lecIdxSel {
    width: 20%;
}
.tit{
    border-left: 10px;
    padding-left: 20px;
}
#lecIdxSel option {

}
.btn_search {
    font-size: 17px;
    background-color: rgb(1,125,195);
    color: white;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-left: 15px;
    cursor: pointer;
}


/* Button - big */
.btnSt01 {background:#123867}
.btnSt02 {background:#555555}
.mt10 {
    width: 80%;
}
/*공지사항*/
#noticetitle {
    text-align: left;
}
/* view */
.viewArea {border-top:2px solid #123867;margin-top:20px;border-bottom:1px solid #8e99a7}
.viewArea .titArea {padding:20px;background:#f6f6f6;border-bottom:1px solid #cccccc;}
.viewArea .titArea .tit {font-size:18px;font-family: 'NotoKrM';color:#000;margin-bottom:12px;}
.viewArea .titArea .dateArea .status {margin-right:9px;}
.viewArea .titArea .line {display:inline-block;position:relative;padding:0 7px 0 0;margin-right:5px;}
.viewArea .titArea .line:after {display:block;content:'';width:1px;height:15px;position:absolute;top:4px;right:0;background:#dddddd;}
.viewArea .titArea .line:last-child:after {display:none;}
.viewArea .fileArea {margin-top:-1px;padding:20px;border-bottom:1px solid #cccccc;background:#fff;}
.viewArea .fileArea .fileIco {padding-left:25px;}
.viewArea .viewCon {padding:30px 20px;}
.viewArea .viewCon2 {padding:30px 20px;text-align:center;width:780px;}
.viewArea .viewCon2 img {width:100%;}

/* accordion View */
.noticeView .notice {display:none;padding:10px;background:#f5f5f5;color:#333;margin:10px -10px -10px;}
.noticeView .listDateR01 > li > a {padding:0;position:relative;}
.noticeView .listDateR01 .viewBtn {position:absolute;display:block;right:20px;top:-10px;content:'';width:40px;height:40px;background:url('/nrsc/images/common/btn_arrow_down01.png') no-repeat;}
.noticeView .listDateR01 li.active .viewBtn {position:absolute;display:block;right:20px;top:-10px;content:'';width:40px;height:40px;background:url('/nrsc/images/common/btn_arrow_up01.png') no-repeat;}
.noticeView .listDateR01 .badge {margin:0 0 5px;}
.noticeView .listDateR01 > li.active .accView {display:block;}
.accordion .viewBtn {font-size:0;}

/*출석부 보드*/
/* 출석 */
.boxCnt02 {width:100%;overflow:hidden;margin-top:20px; max-width: 950px; box-sizing: border-box;}
.boxCnt02 .boxInner {display: flex;
    justify-content: center;
    align-items: center; float:left; width:290px;height:150px;margin:5px; background:#edf2f7;text-align:center; box-sizing: border-box;}
.boxCnt02 .boxInner dl {position:relative;padding:30px 25px;}
.boxCnt02 .boxInner dl dt {position:relative;margin-bottom:17px;color:#000000;font-family: 'NotoKrM';font-size:15px;}
.boxCnt02 .boxInner dl dd {text-align:center;}

.wrap-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrap-info .stu-port {
    margin-right: 20px;
    margin-left: -20px;
}

.wrap-info .stu-port,
.wrap-info .stu-port img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: none;
    /* height: 120px; */
}

.wrap-info .textinfo {
    text-align: left;
}
.wrap-info .textinfo .email {
    width: 150px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button_blkline {
    width: 35px;
    height: 25px;
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}


/* 테이블 추가설정 */
.tblData tbody.mid th {
    border-right: none;
}
.tblData tbody.mid td {
    border-left: none;
    text-align: left;
}
.tblData tbody.mid input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 20px;
    font-size: 14px;
    border: 1px solid #ccc;

}
.tblData tbody.mid textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ccc;
    resize: vertical;
}
/*버튼*/
.miniBtn {
    color: #e0e0e0;
    width: 32px;
    height: 25px;
    margin: -3px;
    border: none;
    cursor: pointer;
}
.blueC {
    background-color: #007bff;
    margin-right: -3px;
}
.redC {
    background-color: #e65151;
    margin-left: -3px;
}